PGVECTOR_USER='dbadmin'
PGVECTOR_PASSWORD='YourStrongPasswordHere1'
PGVECTOR_HOST='gtc-awsrag-aurora-postgres-1.cluster-crvoyau6uypq.us-east-2.rds.amazonaws.com'
PGVECTOR_PORT=5432
PGVECTOR_DATABASE='mydb1'
